/* common part */

html,
body,
.view {
    height: 100%;
}

.navbar {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3b3b3f;
    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3b3b3f;
}

li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 2rem;
}

.main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}


/* /.common part */

.flex-center {
    color: #fff;
}

.view {
    background: url("http://dkglobalvisa.b0.upaiyun.com/img/images/ireland/banner.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    p.text-fluid {
        font-size: 1.3rem;
    }
}
