/* common part */

html,
body,
.view {
    height: 100%;
}

.navbar {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3b3b3f;
    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3b3b3f;
}

li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 2rem;
}

.main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}


/* /.common part */

.flex-center {
    color: #fff;
}

.view {
    background: url("http://dkglobalvisa.b0.upaiyun.com/img/images/ireland/banner.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-wrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    p.text-fluid {
        font-size: 1.3rem;
    }
}


/*箭头向下指示的动画*/

@-webkit-keyframes arrow-down-anim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
}

@keyframes arrow-down-anim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }
}

.go_down_arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 32px;
    margin-left: -29px;
    height: 37px;
    width: 58px;
    background: url(http://dkglobalvisa.b0.upaiyun.com/img/images/icons.png) no-repeat 0 -693px;
    background-size: 166px 1121px;
    -webkit-animation: arrow-down-anim 2s infinite both;
    animation: arrow-down-anim 2s infinite both;
}

/*style for logo*/
.logo {
    position: absolute;
    top: -0.25rem;
    left: 0;
    height: 3rem;
}
@media screen and (max-width: 992px){
    .logo{
        height: 2rem;
        top: -0.3rem;
    }
    /*style for button.navbar-toggler-right*/
    button.navbar-toggler-right {
        margin-top: -0.3rem;
    }
}
/*设置tabs的排列规则*/
@media screen and (max-width: 768px){
    .tabs_style{
        display: block;
    }
    .tabs_style li.nav-item{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}