html,
body,
.view {
    height: 100%;
}


/* common part */

.navbar {
    background-color: #3b3b3f;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3b3b3f;
    }
}

.top-nav-collapse {
    background-color: #3b3b3f;
}

li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 2rem;
}

.main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}


/* /.common part */

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}

@media screen and (max-width: 768px) {
    .addition-margin {
        margin-top: 1rem;
    }
}
