html,
body,
.view {
    height: 100%;
}


/* common part */

.navbar {
    background-color: #3b3b3f;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3b3b3f;
    }
}

.top-nav-collapse {
    background-color: #3b3b3f;
}

li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer.page-footer {
    background-color: #3b3b3f;
    margin-top: 2rem;
}

.main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}


/* /.common part */

.extra-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.diff-margin {
    margin-top: 1rem;
}

.lead {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .post-title {
        margin-top: 1rem;
    }
}
img.img-fluid{
    width: 100%;
}
/*设置成员照片的div大小随img元素大小变化*/
div.view.photo-wrap{
    height: auto;
}
/*设置成员联系方式的字体大小*/
.contact span{
    font-size: 1.1rem;
}

/*style for logo*/
.logo{
    position: absolute;
    top: -0.4rem;
    left: 0;
    height:3.4rem;
}
@media screen and (max-width: 992px){
    .logo{
        height: 2rem;
        top: -0.3rem;
    }
    /*style for button.navbar-toggler-right*/
    button.navbar-toggler-right {
        margin-top: -0.3rem;
    }
}